* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: 400;
}

/* section style */
section {
  margin-top: 32px;
  padding-block: 40px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.headline {
  width: 450px;
  text-align: center;
}

h2 {
  font-size: 40px;
}

.section-heading {
  color: #ffa500;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #e1e1e1;
  width: 350px;
  height: 550px;
  top: 1282px;
  left: 105px;
  border-width: 1px;
  border-radius: 8px;
  align-items: flex-start;
  margin-bottom: 30px;
}

.package-p {
  padding: 4px;
  width: 290px;
}

.package-card,
.destination-card {
  width: 1280px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.package-section {
  display: block;
}

.package-detail {
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.package-img {
  width: 350px;
  height: 310px;
  top: 1900px;
  left: 105px;
}

#destination-card {
  border: 0;
  padding: 0;
  height: fit-content;
}
/*  last card styling */
#option {
  display: flex;
}

.option-item {
  background-color: #304f47;
  width: 250px;
  height: 150px;
  align-items: center;
  top: 3745px;
  left: 110px;
  border-radius: 30px;
}

#option-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 25px;
}

.option-p {
  font-family: Lora;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.5%;
  text-align: center;
  color: white;
}

.option-cardbox {
  display: flex;
  gap: 15px;
}

/* banner style */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #304f47;
  padding-inline: 90px;
}

.banner-items {
  display: flex;
  align-items: center;
  gap: 32px;
  color: white;
  padding: 20px;
}

.social-media,
.banner-item1,
.banner-item2 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.email-contact,
.phone-contact {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
}

/* header styles */
header {
  width: 100%;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  padding-block: 8px;
}

/* navigation style */
nav {
  display: flex;
  align-items: center;
}

.logo-navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: orange;
}

/* buttons styles */
.button {
  display: flex;
  align-items: flex-start;
}

button {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.primary,
.subscribe-btn {
  background-color: orange;
  color: white;
  display: flex;
  align-items: flex-start;
}

/* hero section style */
.hero-section {
  width: 100%;
  height: 70vh;
  background-image: url("/images/hero-background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* search bar styling */
.search-bar {
  background-color: #304f47;
  padding: 8px;
  display: flex;
  align-items: center;
  width: 1080px;
  margin: -20px auto;
  border-radius: 4px;
  gap: 16px;
  justify-content: space-between;
}

.search-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input {
  padding: 8px;
  border: 0;
  border-radius: 4px;
}

.select {
  display: flex;
  align-items: center;
  gap: 8px;
}

select {
  background-color: transparent;
  color: white;
  border: 0;
}

.client-info {
  display: flex;
  text-align: center;
  gap: 40px;
}

#detail-card {
  width: 300px;
  height: 380px;
  top: 4269px;
  left: 490px;
  box-sizing: border-box;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid;
  margin-bottom: 30px;
}

#detail-card img {
  margin-top: 30px;
}

.profile-detail {
  width: 249px;
  height: 100px;
  top: 4479px;
  left: 166px;
  margin-left: 25px;
}

.card-p {
  margin-top: 20px;
  font-family: Mulish;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5%;
  text-align: justify;
}

.client-img {
  margin-bottom: 60px;
}

/* about page styling */
.about-main {
  display: flex;
  justify-content: space-between;
}

.headline h1 {
  font-family: Lora;
  font-weight: 700;
  font-size: 62px;
  line-height: 74.4px;
  letter-spacing: 0.3%;
  text-align: center;
}

.img-about {
  z-index: -1;
  margin-top: -190px;
}

.about-graph {
  font-family: Mulish;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.5%;
}

.sub-title {
  display: flex;
  flex-direction: column;
}
.about-title {
  font-family: Lora;
  font-weight: 700px;
  font-size: 62px;
  line-height: 74.4px;
  letter-spacing: 0.3%;
  width: 608px;
  height: 205px;
  top: 238.51px;
  left: 68px;
  margin-bottom: 30px;
}

.card-about-details {
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 1080px;
  gap: 50px;
  text-align: justify;
}

.sec-1,
.sec-2,
.sec-3 {
  display: flex;
  gap: 50px;
}

.sec-1-p,
.sec-2-p,
.sec-3-p {
  font-family: Mulish;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.5%;
}

.section-destination {
  margin-left: 120px;
  overflow: hidden;
}

.about-detail {
  display: flex;
  gap: 5rem;
  align-items: center;
}

/* tour page styling */
.travel {
  display: flex;
  flex-direction: column;
}

.pac-1 {
  display: grid;
  gap: 20px;
  margin: auto;
  grid-template-columns: repeat(3, 350px);
}

.package-card1 {
  display: flex;
  gap: 20px;
  margin: auto;
  margin-top: 20px;
}

.arrow {
  display: flex;
  width: 1080px;
  margin: auto;
  justify-content: space-between;
}

.arrow-right {
  display: flex;
  width: 1080px;
  margin: auto;
  justify-content: right;
  gap: 16px;
}

/* styling gallery */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.gallery-photos {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.gallery-image-item1,
.gallery-image-item2,
.gallery-image-item3 {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 16px;
}

.gallery-image-item1 img,
.gallery-image-item2 img,
.gallery-image-item3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in;
  aspect-ratio: 1 / 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* footer styles */
footer {
  width: 100%;
  height: 500px;
  margin-top: 40px;
  background-color: #304f47;
  color: white;
}

.footer {
  display: flex;
  width: 1280px;
  margin: auto;
  justify-content: space-between;
  padding-block: 32px;
}

.footer-item {
  /* border: 1px solid white; */
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 60%;
}

.footer-item-detail {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-paragraph {
  width: 44%;
}

.footer-span {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-item2 {
  /* border: 1px solid white; */
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-logo-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-subscribe p {
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-input {
  height: 40px;
  width: 28%;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 5px;
}

#input {
  height: 90%;
  width: 900px;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 4px;
}

.subscribe-btn {
  height: 90%;
  padding: 4px;
}

.footer-item-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

ul.detail-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

p.paragraph {
  margin-bottom: 40px;
}

.footer-contact {
  margin-top: 40px;
  text-align: center;
  line-height: 24px;
}
